<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GameCenter.Properties.Settings.GameCenterDBConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=GameCenterDB;User ID=sa;Password=mmyo;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>